.board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height:801px;
    width:801px;
    background-color:black;
    padding: 3px;
}
.yellowcell {
    height:128px;
    width:128px;
    background-color: #c8c365;
    margin: 2px;
    align-items: center;
}
.greencell {
    height:128px;
    width:128px;
    background-color: #77a26d;
    margin: 2px;

}
.redcircle {
    height: 120px;
    width: 120px;
    background-color: #92513d;
    border-radius: 50%;
    margin: 4px;
}